﻿.col-md-main-content {
    padding-top: 43px;
}
.left-side-main {
    background: #34425a none repeat scroll 0 0;
    bottom: 0;
    height: 100%;
    left: 0;
    margin: 0;
    position: fixed;
    top: 0;
    width: 190px;
}

.left-side-box {
    float: left;
    padding: 130px 0 0;
    width: 100%;
}
.left-side-box ul {
    float: left;
    list-style: outside none none;
    width: 100%;
}
.left-side-box ul li {
    float: left;
    margin-bottom: 2px;
    padding: 0 20px;
    transition: all 300ms ease-in 0s;
    width: 100%;
}
.container {
    float: left;
    padding: 0 30px 0 225px;
    width: 100%;
}
.left-side-box ul li:hover, .left-side-box ul li.active {
    background: #253247 none repeat scroll 0 0;
}
.left-side-box ul li {
    float: left;
    margin-bottom: 2px;
    padding: 0 20px;
    transition: all 300ms ease-in 0s;
    width: 100%;
}
.left-side-box ul li:hover a, .left-side-box ul li.active a {
    /*background: rgba(0, 0, 0, 0) url("../images/menu-arrow.png") no-repeat scroll left center;*/
    color: #93c493;
    text-decoration: none;
}
.left-side-box ul li a {
    color: #7392a9;
    display: block;
    font-size: 14px;
    line-height: 40px;
    padding: 0 0 0 20px;
}

.left-side-box ul li a:hover .left-side-box ul li a:focus  {
    color: #23527c;
    text-decoration: underline;
}

.navbar .container
{
    padding:0px 30px 10px 30px !important;
}
.section
{
    margin-top:30px;
}

.loginParent .container
{
    padding:0 15px;
}
.loginParent .gray-bg{background:#fff;}

.loginParent #loginForm {width:520px; max-width:100%; margin:0 auto; padding:10px 20px; background:#e3e8ee;}
.login-title, .login-box {max-width:100%;}

#loginForm
{
    margin-bottom: 10px !important;
    margin-top: 31px !important;
}