

@font-face {
    font-family: 'titilliumlight';
    src: url('../fonts/titillium-light-webfont.eot');
    src: url('../fonts/titillium-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titillium-light-webfont.woff2') format('woff2'),
         url('../fonts/titillium-light-webfont.woff') format('woff'),
         url('../fonts/titillium-light-webfont.ttf') format('truetype'),
         url('../fonts/titillium-light-webfont.svg#titilliumlight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'titilliumregular';
    src: url('../fonts/titillium-regular-webfont.eot');
    src: url('../fonts/titillium-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titillium-regular-webfont.woff2') format('woff2'),
         url('../fonts/titillium-regular-webfont.woff') format('woff'),
         url('../fonts/titillium-regular-webfont.ttf') format('truetype'),
         url('../fonts/titillium-regular-webfont.svg#titilliumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'titilliumitalic';
    src: url('../fonts/titillium-regularitalic-webfont.eot');
    src: url('../fonts/titillium-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titillium-regularitalic-webfont.woff2') format('woff2'),
         url('../fonts/titillium-regularitalic-webfont.woff') format('woff'),
         url('../fonts/titillium-regularitalic-webfont.ttf') format('truetype'),
         url('../fonts/titillium-regularitalic-webfont.svg#titilliumitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'titilliumbold';
    src: url('../fonts/titillium-semibold-webfont.eot');
    src: url('../fonts/titillium-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titillium-semibold-webfont.woff2') format('woff2'),
         url('../fonts/titillium-semibold-webfont.woff') format('woff'),
         url('../fonts/titillium-semibold-webfont.ttf') format('truetype'),
         url('../fonts/titillium-semibold-webfont.svg#titilliumbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'titilliumthin_upright';
    src: url('../fonts/titillium-thinupright-webfont.eot');
    src: url('../fonts/titillium-thinupright-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titillium-thinupright-webfont.woff2') format('woff2'),
         url('../fonts/titillium-thinupright-webfont.woff') format('woff'),
         url('../fonts/titillium-thinupright-webfont.ttf') format('truetype'),
         url('../fonts/titillium-thinupright-webfont.svg#titilliumthin_upright') format('svg');
    font-weight: normal;
    font-style: normal;

}

