@media (max-width:1200px)
{	
	.top-menu-main ul li {
		margin: 65px 18px;
	}
}

@media (max-width:992px)
{	
	.top-menu-main ul li {
		margin: 65px 12px;
	}
	.top-menu-main ul li a
	{	font-size:19px;
	}
	.banar-main h2
	{	font-size:50px;
	}
	.banar-main p
	{	font-size:22px;
	}
	.banar-main ul li a
	{	font-size:20px;
	}
	.key-benift .heading h2,
	.description .heading h2,
	.what-is-xero-connect .heading h2
	{	font-size:40px;
	}
	.key-benift .heading p,
	.description .heading p,
	.what-is-xero-connect .heading p
	{	font-size:19px;
	}
	.key-benifit-box h3
	{	font-size:16px;
	}
	.key-benifit-box p
	{	font-size:15px;
	}
	.what-is-xero-connect  p br,
	.how-to-connect-img p br
	{	display:none;
	}
}
@media (max-width:767px)
{	
	.key-benifit-box
	{	min-height:auto; margin-bottom:20px;
	}
	.how-to-connect
	{	margin-top:30px;
	}	
	.header-main
	{	position:relative;
	}
	.header-right-icon-main
	{	position:absolute; top:20px; right:0; text-align:right;
	}
	.responsive-menu
	{	position:relative; top:-45px;
	}
	.top-menu-main ul li {
		margin: 10px 0;
		width: 100%;
	}
	.banar-main ul li a {
		font-size: 13px;
	}
	.banar-main h2 {
		font-size: 25px;
	}
	.banar-main p {
		font-size: 16px;
	}
	.banar-main p br
	{	display:none;
	}
	.try-btn a {
		font-size: 25px;
		height: 47px;
		width: 185px;
	}
	.what-is-xero-connect .what-is-xero ul li,
	.what-is-xero-connect .what-is-xero ul span,
	.what-is-xero-connect .how-to-connect P
	{	font-size:16px;
	}
	.copy-right-text-main
	{	width:100%; text-align:center !important; font-size:12px;
	}
	.copy-right ul
	{	text-align:center; margin-bottom:10px;
	}
	.copy-right ul li
	{	float:none; display:inline;
	}
	.copy-right ul li a
	{	font-size:12px;
	}	
}