﻿/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    font-family: 'Open Sans', sans-serif;
    background: #f1f4f9;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

footer {
    color: #7a7a7a;
}
.footer {
    width: 70%!important;
    position: absolute;
    left: 0;
    bottom: 23px;
}
.text-center {
    text-align: center;
}

.icon-microsoft {
    background-image: url('../Images/microsoftIcon.png');
    background-repeat: no-repeat;
    background-position: 4px;
    background-size: 27px;
}

.width-200 {
    width: 250px;
}

._4z_b, ._4z_8, ._4z_d {
    width: 204px;
    /* height: 30px; */
    padding: 13px;
    font-size: 20px;
    border-radius: 5px;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }

    .pie_progress {
        width: 80%;
        max-width: 300px;
    }
}

.tblForgetPwd {
    width: 60%;
}

.margin-top-10px {
    margin-top: 10px;
}

.margin-left-N10 {
    margin-left: -10px;
}

.margin-top-8px {
    margin-top: 8px;
}

.tblResetPwd {
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px;
}

.width-180px {
    width: 180px;
}

.div-login {
    width: 100% !important;
}

.lbl-login {
    /*width: 26% !important;   */
}

.chkbox-login {
    margin-left: 37%;
}

.btn-login {
    margin-left: 33%;
}

.windows-logo {
    cursor: pointer;
    position: relative;
    top: -16px;
}

    .windows-logo :hover {
        color: aqua;
    }

.lbl-remember-me {
    padding-left: 3px !important;
}

.form-horizontal-login {
    width: 90%;
}

.div-float-left-40 {
    float: left;
    width: 30%;
}

.float-right {
    float: right;
}

.loginImage ul li {
    display: inline;
}

.successMessage {
    color: #458B00;
}

._4z_b ._4z_8 ._4z_d {
    width: 204px;
    /* height: 30px; */
    padding: 13px;
    font-size: 20px;
    border-radius: 5px;
}

.user-box {
    float: right;
    width: auto;
    /*margin: 22px 0 0 0;*/
    padding: 0px;
    position: relative;
}

.user-img {
    float: left;
    width: 52px;
    height: 52px;
}

    .user-img img {
        display: block;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        width: 100%;
    }

.user-text {
    float: left;
    width: auto;
    padding-top: 35px;
}

.user-name {
    display: block;
    color: #9d9d9d !important;
    font-size: 14px;
    padding: 0 35px 0 0;
    background: url(../images/down-arow.png) right no-repeat;
    text-decoration: none !important;
}

    .user-name:hover {
        text-decoration: none !important;
        color: #7a7a7a !important;
    }

.user-drop-box {
    position: absolute;
    display: none;
    right: 0;
    width: 265px;
    top: 74px;
    background: #fff;
    box-shadow: 1px 1px 3px #E2E2E2;
    -webkit-box-shadow: 1px 1px 3px #E2E2E2;
    -moz-box-shadow: 1px 1px 3px #E2E2E2;
    -ms-box-shadow: 1px 1px 3px #E2E2E2;
    padding: 15px;
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
}

    .user-drop-box ul {
        float: left;
        list-style: none;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

        .user-drop-box ul li {
            float: left;
            width: 100%;
            margin: 0px;
            padding: 0px;
            border-bottom: 1px solid #cfd7dd;
            padding: 15px 0;
        }

            .user-drop-box ul li:last-child {
                border: none;
            }

.user-drop-fild {
    float: left;
    width: 100%;
    position: relative;
}

.user-drop-img {
    float: left;
    width: 52px;
    margin: 0 10px 0 0;
}

    .user-drop-img img {
        display: block;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        width: 100%;
    }

.user-drop-name {
    float: left;
    width: 100%;
    font-size: 20px;
    color: #68889f;
}

    .user-drop-name a {
        display: block;
        color: #7a7a7a;
        font-size: 13px;
    }

.user-drop-text {
    float: left;
    width: 172px;
    padding: 0;
}

.user-drop-link {
    width: 172px;
    margin: 0px;
    font-size: 13px;
    padding: 0px;
    float: left;
    line-height: 25px;
    color: #7a7a7a;
}

.user-drop-icon {
    width: 52px;
    text-align: center;
    float: left;
    margin: 0 10px 0 0;
}

.user-drop-fild a:hover .user-drop-link {
    color: #68889f;
}

@media screen and (max-width: 1024px) {
    .btn-login {
        margin-left: 0px !important;
    }

    .chkbox-login {
        margin-left: 20px;
    }
}

.lab-title, .lab-title {
    font-size: 14px;
    color: #68889f;
    font-weight: 400;
}

    .lab-title span {
        display: inline-block;
        vertical-align: middle;
        margin: 0 10px;
    }

    .lab-title a {
        display: inline-block;
        vertical-align: middle;
        font-size: 12px;
    }

.col-md-main-content {
    padding-top: 43px;
}

.mrg-b {
    margin-bottom: 80px;
}

.gray-bg {
    background: #e3e8ee;
}

.pt5 {
    padding-top: 5px !important;
}

.pt10 {
    padding-top: 10px !important;
}

.pt15 {
    padding-top: 15px !important;
}

.pt50 {
    padding-top: 50px !important;
}

.mb15 {
    margin-bottom: 15px !important;
}

.pb15 {
    padding-bottom: 15px !important;
}

.pl8 {
    padding-left: 8px;
}

.add-user-btn {
    width: 10%;
}

.navbar-inverse {
    background-color: #fff;
    border: none;
    box-shadow: 0 1px 2px #e1e4e8;
    -moz-box-shadow: 0 1px 2px #e1e4e8;
    -webkit-box-shadow: 0 1px 2px #e1e4e8;
    -ms-box-shadow: 0 1px 2px #e1e4e8;
    -o-box-shadow: 0 1px 2px #e1e4e8;
}

.navbar-brand {
    float: left;
    padding: 0px;
    height: auto;
}

.navbar-inverse .navbar-brand {
    margin-left: 0 !important;
}

.navbar {
    min-height: 88px;
}

.navbar-header {
    width: 100%;
}

    .navbar-header a:hover {
        color: black;
    }

.navbar-nav > li > a {
    font-size: 17px;
    padding-top: 35px;
}

    .navbar-nav > li > a:hover {
        color: rgb(122,122,122) !important;
    }

.login-link {
    display: block;
    color: #9d9d9d !important;
    padding: 0 35px 0 0;
    text-decoration: none !important;
    font-size: 17px;
}

    .login-link:hover {
        color: rgb(122,122,122) !important;
    }

.padding-top-20 {
    padding-top: 20px;
}

.padding-top-60 {
    padding-top: 60px;
}

.clearJellybg {
    background-image: url('../Images/ClearJelly_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-position: 0 30px;
}

.homePage {
    color: #ffffff;
}

    .homePage ul {
        margin-left: 15px;
    }

#btnTryNow {
    width: 80px;
}

.login-title {
    width: 560px;
    margin: 30px auto 20px auto;
    padding: 0px;
    border-bottom: 1px solid #bac3cf;
    box-shadow: 0 1px 0px #fff;
    -webkit-box-shadow: 0 1px 0px #fff;
    -moz-box-shadow: 0 1px 0px #fff;
    -o-box-shadow: 0 1px 0px #fff;
    -ms-box-shadow: 0 1px 0px #fff;
    text-align: center;
}

    .login-title h1 {
        display: block;
        font-size: 36px;
        color: #68889f;
        font-weight: 300;
        margin-bottom: 10px;
    }

    .login-title span {
        display: block;
        color: #68889f;
        font-size: 20px;
        font-weight: 300;
        padding-bottom: 20px;
    }

.registration-subtitle {
    width: 560px;
    margin: 0px auto 0px 0px;
    padding: 0px;
}

    .registration-subtitle h4 {
        display: block;
        color: #68889f;
        font-weight: 300;
        margin-bottom: 10px;
    }


.login-box {
    width: 560px;
    margin: 20px auto;
}

.mb30 {
    margin-bottom: 30px !important;
}

.form-group label {
    font-size: 14px;
    color: #7a7a7a;
    font-weight: 400;
}


.form-control {
    font-size: 13px;
    color: #7a7a7a;
    box-shadow: 1px 1px 1px #ccc;
    -webkit-box-shadow: 1px 1px 1px #ccc;
    -moz-box-shadow: 1px 1px 1px #ccc;
    -ms-box-shadow: 1px 1px 1px #ccc;
    -o-box-shadow: 1px 1px 1px #ccc;
    border-color: #f2f4f6;
    padding: 8px 12px;
    height: 40px;
}


h1, h2, h3, h4, h5, ul, li, ol {
    margin: 0px;
    padding: 0px;
}

.btn {
    transition: all 300ms ease-in 0s;
    -moz-transition: all 300ms ease-in 0s;
    -o-transition: all 300ms ease-in 0s;
    -webkit-transition: all 300ms ease-in 0s;
    -ms-transition: all 300ms ease-in 0s;
    padding: 12px;
    font-size: 13px;
}

.btn-success {
    border: none;
    background: #569654; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU2OTY1NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0NThhNDMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #569654 0%, #458a43 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#569654), color-stop(100%,#458a43)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #569654 0%,#458a43 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #569654 0%,#458a43 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #569654 0%,#458a43 100%); /* IE10+ */
    background: linear-gradient(to bottom, #569654 0%,#458a43 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#569654', endColorstr='#458a43',GradientType=0 ); /* IE6-8 */
}

    .btn-success:hover {
        opacity: 0.9;
    }

.mt5 {
    margin-top: 5px !important;
}

.mt15 {
    margin-top: 15px !important;
}

.mb10 {
    margin-bottom: 10px !important;
}


.pb5 {
    padding-bottom: 5px !important;
}

.pb10 {
    padding-bottom: 10px !important;
}


.cust-table {
    margin-top: 5px;
    border-radius: 5px;
    -webkit- border-radius:5px;
    -moz- border-radius:5px;
    -ms- border-radius:5px;
    -o- border-radius:5px;
    box-shadow: 1px 1px 1px #ccc;
    -webkit-box-shadow: 1px 1px 1px #ccc;
    -moz-box-shadow: 1px 1px 1px #ccc;
    -ms-box-shadow: 1px 1px 1px #ccc;
}

    .cust-table thead {
        background: #355063;
        color: #fff;
        font-weight: 400;
    }

        .cust-table thead th:first-child {
            border-radius: 5px 0 0 0;
            -moz-border-radius: 5px 0 0 0;
            -ms-border-radius: 5px 0 0 0;
            -o-border-radius: 5px 0 0 0;
            -webkit-border-radius: 5px 0 0 0;
        }

        .cust-table thead th:last-child {
            border-radius: 0 5px 0 0;
            -moz-border-radius: 0 5px 0 0;
            -ms-border-radius: 0 5px 0 0;
            -o-border-radius: 0 5px 0 0;
            -webkit-border-radius: 0 5px 0 0;
        }

        .cust-table thead th {
            font-weight: normal;
        }

    .cust-table.table > thead > tr > th, .cust-table.table > tbody > tr > td {
        border: none !important;
        padding: 10px 12px;
    }

    .cust-table.table > tbody > tr > td {
        padding: 12px;
        color: #7a7a7a;
    }

    .cust-table.table > tbody > tr > td {
        font-size: 13px;
    }

#pricing {
    margin-bottom: 10px;
}

    #pricing div.subscription {
        font-family: "Segoe UI Regular", Arial, Helvetica, sans-serif;
        margin-top: 4px;
        background-color: #EDEDE2;
        border-right: 4px solid #E9EBE4;
        border-left: 4px solid #E9EBE4;
    }

.tooltip-left, .tooltip-right, .tooltip-bottom {
    position: relative;
    display: inline-block;
}

#pricing div.price-box {
    float: right;
    width: 118px;
    background-color: white;
    border-radius: 7px;
    margin: 5px;
    padding: 1px;
}

#pricing a.trigger {
    border-bottom: dashed;
    cursor: help;
    border-bottom-width: 1px;
    border-bottom-color: #417E90;
}

html[lang=de] #pricing div.price-box,
html[lang=es] #pricing div.price-box {
    width: 106px;
}

#pricing div.subscription {
    font-family: "Segoe UI Regular", Arial, Helvetica, sans-serif;
    margin-top: 4px;
    background-color: #EDEDE2;
    border-right: 4px solid #E9EBE4;
    border-left: 4px solid #E9EBE4;
}

    #pricing div.subscription:after {
        content: '';
        display: block;
        clear: both;
    }

    #pricing div.subscription > h3 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.9em;
        font-weight: bold;
        line-height: 1.8em;
        padding-left: 6px;
        border: none;
        text-align: left;
    }

#pricing div.transactions {
    float: left;
    width: 150px;
    padding: 6px;
}

    #pricing div.transactions h5 {
        font-size: 1.7em;
        border-bottom: 3px;
    }

    #pricing div.transactions p {
        font-size: 0.9em;
        color: #64827E;
    }



#pricing .price-box h3 {
    color: #ff0000;
    text-decoration: line-through;
}

.right {
    float: left;
    width: 340px;
}

.ml15 {
    margin-left: 15px;
}

.ml20 {
    margin-left: 20px;
}

.ml30 {
    margin-left: 30px !important;
}

.ml40 {
    margin-left: 40px !important;
}

.mt35 {
    margin-top: 35px;
}

.float-left {
    float: left;
}

.padding-top-10 {
    padding-top: 10px;
}

.width100 {
    width: 100%;
}

.width80 {
    width: 80%;
}
/* change */
.pad-80 {
    width: 80%;
}

.pad-70 {
    width: 80%;
}
/* change */
.width32 {
    width: 32%;
}

.width22 {
    width: 22%;
}

.width25 {
    width: 25%;
}

.width20 {
    width: 20%;
}

.width12 {
    width: 12%;
}

.width10 {
    width: 10%;
}

.width8 {
    width: 8%;
}

.width5 {
    width: 5%;
}

.mr30 {
    margin-right: 30px;
}

.prettyPhotoCaption {
    display: inline-block;
    vertical-align: top;
}

.homepageFooter {
    color: #ffffff;
}

    .homepageFooter a {
        color: #ffffff;
    }

.lab-title {
    font-size: 14px;
    color: #68889f;
    font-weight: 400;
}

    .lab-title span {
        display: inline-block;
        vertical-align: middle;
        margin: 0 10px;
    }

    .lab-title a {
        display: inline-block;
        vertical-align: middle;
        font-size: 12px;
    }

table#tblSubscriptionPlan th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #D1DCE3;
    color: #7a7a7a;
}

table#tblSubscriptionPlan td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
    color: #7a7a7a;
    font-weight: 400;
}

table#tblSubscriptionPlan label {
    color: #7a7a7a;
    font-weight: 400;
}

tr.amountRow td {
    border: none !important;
    background: none !important;
}

tr.amountRow label {
    color: #7a7a7a;
    font-weight: bold !important;
}

.autowidth {
    width: auto;
}

.font16 {
    font-size: 16px !important;
}

.datepicker {
    z-index: 2000 !important;
}

#registrationPopup .modal-body img {
    cursor: pointer;
    margin: 5%;
}

#registerButton, #loginButton {
    cursor: pointer;
}

#registrationPopup .modal-body {
    text-align: center;
}

.activateUser, .editUser, .blockedUser, .editTemplate, .cursorPointer {
    cursor: pointer;
}


.display-none {
    display: none;
}

.errorMessage {
    color: red;
}

.width325 {
    width: 325px;
}

.width200 {
    width: 200px;
}

.pointerCursor {
    cursor: pointer;
}

.width25 {
    width: 25%;
    float: left;
}

.attachmentFile {
    height: 20px;
    vertical-align: middle;
}

.ml3 {
    margin-left: 3% !important;
}

.centerLabel .form-group label {
    line-height: 40px;
}


.loginHead .container, .loginParent .container {
    width: 1170px;
    max-width: 100%;
    float: inherit;
}

.loginParent #loginForm {
    width: 100% !important;
}

.loginParent .gray-bg {
    background: none !important;
}



#tblSubscriptionPlan tr .width25 {
    width: 25%;
    float: unset;
}

.mandatory {
    color: red;
}

#dvBtns #dvbtnCancel, #dvBtns #dvbtnBuy {
    padding-top: 5px;
}

.handPointer {
    cursor: pointer;
}

.addbuttonDiv {
    float: right;
    margin-bottom: 20px;
}

.NolinkBorder a {
    text-decoration: none;
}

    .NolinkBorder a img {
        padding-right: 5px;
    }

.font-color {
    color: #7a7a7a;
    outline: none !important;
}

.width150 {
    width: 150px !important;
}

.moveCursor {
    cursor: move;
}


#dvBtnRow #dvBtns {
    width: 260px !important;
}

.maintenancePage {
    width: 100%;
    float: left;
}

.maintenancePage-work {
    float: left;
    width: 100%;
    padding: 25px 0px;
    text-align: center;
    /*margin: 40px 0px;*/
}

.setting-i {
    width: 100px;
    height: 100px;
    background: #7ed3f6;
    display: inline-block;
    border-radius: 50%;
    position: relative;
}

    .setting-i img {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }

.maintenancePage-work p, .maintenancePage-work span {
    color: #9d9d9d;
    font-family: 'Roboto-Light';
    letter-spacing: 0.5px;
}

.maintenancePage-work p {
    font-size: 32px;
    margin: 30px 0px 20px;
}

.maintenancePage-work span {
    font-size: 20px;
}

.maintenanceHeight {
    height: 450px;
}

.guideButton {
    background-color: #7ed3f6;
    color: white;
}

    .guideButton:hover {
        background-color: #7ed3f6;
        color: white;
    }

.textalignright {
    text-align: right;
    padding-top: 10px;
}

img#MainContent_ImagetxtSD, img#MainContent_ImagetxtED, img#Image1, img#Image2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logoImgCss {
    margin-top: 17px;
    width: auto !important;
    height: 70px !important
}

.marginTop41 {
    margin-top: 41px !important;
}

.padding0 {
    padding: 0 !important
}

.padding-right0 {
    padding-right: 0;
}

.margin-left28 {
    margin-left: 28px !important;
}

.nav, .nav ul {
    list-style: none;
    text-align: center;
}



    /*.nav li a {
    display: block;
    cursor: pointer;
    font-size: 12px;
    padding: 24px 20px 15px;
}*/
    .nav > li > a:hover {
        color: #FFF;
        background: white;
    }

    .nav ul {
        background: white;
        display: none;
        position: absolute;
        top: 100%;
        left: 50%;
        z-index: 999;
        width: 150px;
        margin-left: -75px;
    }

        .nav ul li a {
            color: #FFF;
            padding: 10px;
        }

    .nav li:hover ul {
        display: block;
    }


#content {
    background: gold;
    height: 200px;
}

.navbar-inverse .navbar-nav > li.fileUploadLi > ul > li > a {
    color: #9d9d9d;
    text-decoration: none;
    font-size: 16px;
}

.navbar-inverse .navbar-nav > li.fileUploadLi > ul > li {
    text-align: left;
    padding: 5px 0px;
}

.navbar-inverse .navbar-nav > li.fileUploadLi > a {
    padding-bottom: 5px !important;
}

.navbar-inverse .navbar-nav > li.fileUploadLi > ul {
    margin-left: -55px;
}
