    * {
    outline: none !important;
}

a:hover {
    text-decoration: none !important;
}

img {
    max-width: 100%;
}

body {
}

.logo h1 {
    float: left;
    max-width: 100%;
    width: 100%;
    padding: 0px;
    margin-top: 13px;
    margin-bottom: 8px;
}

.top-menu-main {
    display: block;
    width: 100%;
}

    .top-menu-main ul {
        float: left;
        width: 100%;
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

        .top-menu-main ul li {
            float: left;
            margin: 65px 38px;
        }

            .top-menu-main ul li:first-child {
                margin-left: 0px;
            }

            .top-menu-main ul li:last-child {
                margin-right: 0px;
            }

            .top-menu-main ul li a {
                float: left;
                font-size: 24px;
                color: #355063;
                font-family: 'titilliumregular';
            }

.header-right-icon {
    padding-top: 15px;
}



._4z_b ._4z_8 ._4z_d {
    width: 204px;
    /* height: 30px; */
    padding: 13px;
    font-size: 20px;
    border-radius: 5px;
}
.banar-main {
    float: left;
    width: 100%;
    background: url(../images/top-banar.png) no-repeat center center;
    background-size: cover;
    padding-top: 65px;
    padding-bottom: 65px;
}

    .banar-main h2 {
        margin: 0px;
        color: #fff;
        font-size: 65px;
        font-family: 'titilliumlight';
        text-align: center;
        margin-bottom: 30px;
    }

    .banar-main p {
        margin: 0px;
        color: #fff;
        font-size: 27px;
        font-family: 'titilliumthin_upright';
        text-align: center;
    }

.try-btn {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 55px;
}

    .try-btn a {
        width: 225px;
        margin: 0 auto;
        display: block;
        height: 67px;
        background: rgba(126,211,246,0.5);
        border-radius: 3px;
        text-align: center;
        font-size: 39px;
        color: #fff;
        padding-top: 4px;
        font-family: 'titilliumregular';
    }

.banar-main ul {
    float: none;
    width: 100%;
    padding: 0px;
    list-style: none;
    text-align: center;
    clear: left;
    max-width: 1000px;
    margin: 0 auto;
}

    .banar-main ul li {
        float: left;
        width: 25%;
    }

        .banar-main ul li a {
            color: #d7d9dc;
            font-size: 24px;
            font-family: 'titilliumregular';
        }

            .banar-main ul li a i {
                display: block;
            }




.key-benift {
    float: left;
    width: 100%;
    background: #355063;
    padding: 40px 0px;
    text-align: center;
}

    .key-benift .heading h2 {
        margin-top: 0px;
        color: #fff;
        font-size: 48px;
        font-family: 'titilliumlight';
    }

    .key-benift .heading p {
        font-family: 'titilliumthin_upright';
        font-size: 24px;
        color: #fff;
        margin-bottom: 60px;
    }


.key-benifit-box {
    float: left;
    width: 100%;
    padding: 0 30px;
    min-height: 400px;
}

    .key-benifit-box h3 {
        float: left;
        width: 100%;
        color: #fff;
        font-size: 24px;
        font-family: 'titilliumbold';
        margin-bottom: 20px;
    }

    .key-benifit-box p {
        float: left;
        width: 100%;
        color: #d7d9dc;
        font-size: 19px;
        font-family: 'titilliumlight';
    }

.margin-top {
    margin-top: 50px;
}


.description {
    float: left;
    width: 100%;
    background: #f1f4f9;
    padding: 40px 0px;
    text-align: center;
}

    .description .heading h2 {
        margin-top: 0px;
        color: #355063;
        font-size: 48px;
        font-family: 'titilliumlight';
    }

    .description .heading p {
        font-family: 'titilliumthin_upright';
        font-size: 24px;
        color: #355063;
        margin-bottom: 40px;
    }



.what-is-xero-connect {
    float: left;
    width: 100%;
    background: #dfe2e5;
    padding: 40px 0px;
    text-align: center;
}

    .what-is-xero-connect .heading h2 {
        margin-top: 0px;
        color: #355063;
        font-size: 48px;
        font-family: 'titilliumlight';
    }

    .what-is-xero-connect .heading p {
        font-family: 'titilliumthin_upright';
        font-size: 24px;
        color: #355063;
        margin-bottom: 10px;
    }

    .what-is-xero-connect .what-is-xero ul {
        float: left;
        width: 100%;
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

        .what-is-xero-connect .what-is-xero ul li {
            font-family: 'titilliumthin_upright';
            font-size: 22px;
            color: #355063;
            margin-top: 25px;
            text-align: left;
        }

        .what-is-xero-connect .what-is-xero ul span {
            font-family: 'titilliumthin_upright';
            font-size: 22px;
            color: #355063;
            margin-top: 25px;
            float: left;
            width: 100%;
        }

.xero-icon {
    float: left;
    margin-top: 20px;
    width: 100%;
}

.what-is-xero-connect .how-to-connect P {
    font-family: 'titilliumthin_upright';
    font-size: 22px;
    color: #355063;
    margin-top: 20px;
}

    .what-is-xero-connect .how-to-connect P i {
        font-family: 'titilliumregular';
    }


.copy-right {
    float: left;
    width: 100%;
    background: #355063;
    font-size: 17px;
    color: #d7d9dc;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 10px 0px;
}

    .copy-right ul {
        float: left;
        width: 100%;
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

        .copy-right ul li {
            float: left;
            border-right: 1px #d7d9dc solid;
            padding: 0 15px;
        }

            .copy-right ul li:first-child {
                padding-left: 0px;
            }

            .copy-right ul li:last-child {
                border: none;
            }

            .copy-right ul li a {
                font-size: 17px;
                color: #d7d9dc;
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            }

#registrationPopup .modal-body img {
    cursor: pointer;
    margin: 5%;
}

#MainContent_registerButton, #loginButton {
    cursor: pointer;
}

#registrationPopup .modal-body {
    text-align: center;
}



.platform-choices {
    float: left;
    width: 100%;
    background: #dfe2e5;
    padding: 40px 0px 440px;
    text-align: center;
}

    .platform-choices .container {
        max-width: 830px;
    }

        .platform-choices .container .row div {
            width: 250px;
            display: inline-block;
        }

    .platform-choices h2 {
        font-family: 'titilliumregular';
        font-size: 30px;
        color: #355063;
        padding: 20px 0px 70px;
    }

.saasu-logo {
    display: inline-block;
    margin-top: 27px;
    max-width: 100%;
    padding-top: 30px;
}

.quickbooks-logo {
    height: 57px;
    padding-top: 30px;
    width: 100%;
}

    .quickbooks-logo img {
        margin-left: 30px;
        padding-top: 30px;
        width: 60%;
    }

    .quickbooks-logo #ClearJelly {
        height: 157px;
        padding-top: 30px;
    }

.quickbooks-icon {
    float: left;
    margin-top: 20px;
    width: 100%;
}

.platform-choices img {
    max-width: 100%;
}

.xero-logo #ClearJelly {
    height: 157px;
    padding-top: 30px;
}

.logoImgCss {
    margin-top: 17px;
    width: auto !important;
    height: 70px !important
}

.marginTop41 {
    margin-top: 41px;
}
