﻿<div class="wrapper-database clearfix">
    <div ng-click="console.log(vm.selectedCube.Name);">Name: {{vm.selectedCube.Name}}</div>
    <div>Dimensions</div>
    <kendo-grid options="vm.cubeDimensionsGridOptions">

    </kendo-grid>
</div>