﻿<div class="wrapper-database clearfix">
    <div class="dimensions col-sm-6">
        <div class="title">
            Dimensions:
        </div>
        <div class="dimensions-block">
            <div class="item" ng-repeat="dimension in vm.cube.Dimensions">
                {{dimension.Name}}
            </div>
        </div>
    </div>
    <div class="cubes col-sm-6">

        <div class="title ">
            Cubes: <div class="btn-group-flex">
                <button type="button" class="btn btn-default new hidden-xs hidden-sm">New CUbe</button>
                <button type="button" class="btn btn-default edit hidden-xs hidden-sm">Edit CUbe</button>
                <button type="button" class="btn btn-default del hidden-xs hidden-sm">Delete CUbe</button>
                <button type="button" class="btn btn-default new visible-xs-inline-block visible-sm-inline-block"></button>
                <button type="button" class="btn btn-default edit visible-xs-inline-block visible-sm-inline-block"></button>
                <button type="button" class="btn btn-default del visible-xs-inline-block visible-sm-inline-block"></button>
            </div>
        </div>

        <div class="cubes-block">
            <div class="item" ng-repeat="cube in vm.cubes">
                {{cube.Name}}
            </div>
        </div>
    </div>
</div>