﻿<div class="wrapper-database clearfix" ng-cloak>
    <div class="title-box">
        <h4 ng-show="vm.isGridLoaded">Dimension: {{vm.selectedDimensionName}}</h4>
        <button ng-click="vm.editDimension()" ng-show="vm.isGridLoaded" class="btn btn-default btn-edit">Edit Dimension</button>
    </div>
    <kendo-grid ng-show="vm.isGridLoaded" options="vm.selectedDimensionGridOptions" id="dimensionGrid">

    </kendo-grid>
    <img class="loader-view" ng-show="!vm.isGridLoaded" src="css/kendo/Material/loading-image.gif" >
</div>

<div kendo-window="vm.excelDataWindow"
     k-title="'Paste excel data here'"
     k-width="400"
     k-modal="true"
     k-visible="false">
    <textarea name="excelData" style="width:250px; height: 150px;"></textarea>
    <div class="btn-holder" style="text-align: center;">
        <button type="submit" ng-click="vm.pasteExcelData(vm.selectedDimensionName)" class="btn btn-default btn-add">Paste data to dimension</button>
        <button type="reset" ng-click="vm.excelDataWindow.close();" class="btn btn-default btn-cancel">Cancel</button>
    </div>

    <!--<div>Name: {{vm.cubeForDelete}}</div>
    <div class="btn-holder" style="text-align: center;">
        <button type="submit" ng-click="vm.deleteCube()" class="btn btn-default btn-delete">Delete</button>
        <button type="reset" ng-click="vm.deleteCubeWindow.close();" class="btn btn-default btn-cancel">Cancel</button>
    </div>-->
</div>

<script>
    $(document).ready(function () {
        $("#dimensionGrid").kendoGrid({
            dataBound: onDataBound
        });
    });
    function onDataBound() {
    var wrapper = this.wrapper,
        header = wrapper.find(".k-grid-header");

    function scrollFixed() {
        var offset = $(this).scrollTop(),
            tableOffsetTop = wrapper.offset().top,
            tableOffsetBottom = tableOffsetTop + wrapper.height() - header.height();
        var right = $(document).scrollLeft();
        if (header.hasClass("fixed-header")) {
            header.css("left", 320 - right);
        }
        if (offset < tableOffsetTop || offset > tableOffsetBottom) {
            header.removeClass("fixed-header");
        } else if (offset >= tableOffsetTop && offset <= tableOffsetBottom && !header.hasClass("fixed")) {
            header.addClass("fixed-header");
        }
    }
    $(window).scroll(scrollFixed);
}</script>

<style>
    .fixed-header {
        top:0;
        position:fixed;
        width:auto;
        z-index: 1;
      }
</style>