﻿<div class="wrapper-database clearfix">
    <kendo-grid ng-show="vm.isGridLoaded" id="dimensionsGrid" tabindex="0" options="vm.dimensionsGridOptions">
    </kendo-grid>
    <img class="loader-view" ng-show="!vm.isGridLoaded" src="css/kendo/Material/loading-image.gif" >
</div>
<script>
    $(document).ready(function () {
        $("#dimensionsGrid").kendoGrid({
            dataBound: onDataBound
        })
    });
    function onDataBound() {
    var wrapper = this.wrapper,
        header = wrapper.find(".k-grid-header");

    function resizeFixed() {
        var paddingRight = parseInt(header.css("padding-right"));
        header.css("width", wrapper.width() - paddingRight);
    }

    function scrollFixed() {
        var offset = $(this).scrollTop(),
            tableOffsetTop = wrapper.offset().top,
            tableOffsetBottom = tableOffsetTop + wrapper.height() - header.height();
        if (offset < tableOffsetTop || offset > tableOffsetBottom) {
            header.removeClass("fixed-header");
        } else if (offset >= tableOffsetTop && offset <= tableOffsetBottom && !header.hasClass("fixed")) {
            header.addClass("fixed-header");
        }
    }
    resizeFixed();
    $(window).resize(resizeFixed);
    $(window).scroll(scrollFixed);
}</script>


<!--<script>
    $(document).ready(function(){
        $("#dimensionsGrid").kendoGrid()
            .on('focusin', function (e) {
            // get the grid position
            var offset = $(this).offset();
            // crete a textarea element which will act as a clipboard
            var textarea = $("<textarea>");
            // position the textarea on top of the grid and make it transparent
            textarea.css({
                position: 'absolute',
                opacity: 0,
                top: offset.top,
                left: offset.left,
                border: 'none',
                width: $(this).width(),
                height: $(this).height()
            })
            .appendTo('body')
            .on('paste', function() {
                // handle the paste event
                setTimeout(function() {
                    // the the pasted content
                    var value = $.trim(textarea.val());
                    // get instance to the grid
                    var grid = $("#dimensionsGrid").data("kendoGrid");
                    // get the pasted rows - split the text by new line
                    var rows = value.split('\n');

                    var data = [];

                    for (var i = 0; i < rows.length; i++) {
                        var cells = rows[i].split('\t');
                        data.push({
                            Name: cells[1],
                            ID: cells[0],
                            DataType: cells[2]
                        });
                    };
                    grid.dataSource.data(data);
                });
            }).on('focusout', function() {
                // remove the textarea when it loses focus
                var grid = $("#dimensionsGrid").data("kendoGrid");
                console.log(grid);
                console.log(grid.dataSource.data);
                $(this).remove();
            });
            // focus the textarea
            setTimeout(function() {
                textarea.focus();
            });
        });
    });
        
</script>-->