﻿<div class="wrapper-database clearfix" ng-cloak>
    <div ng-show="vm.isGridLoaded">Dimension: {{vm.selectedDimensionName}}</div>
    <button ng-click="vm.openExcelWindow()" ng-show="vm.isGridLoaded">Paste from Excel</button>
    <button ng-click="vm.saveChanged()" ng-show="vm.isGridLoaded">Save changes</button>
    <kendo-grid ng-show="vm.isGridLoaded" options="vm.editDimensionGridOptions" id="dimensionGrid"></kendo-grid>
    <img class="loader-view" ng-show="!vm.isGridLoaded" src="css/kendo/Material/loading-image.gif">
</div>

<div kendo-window="vm.excelDataWindow"
     k-title="'Paste excel data here'"
     k-width="400"
     k-modal="true"
     k-visible="false">
    <textarea name="excelData" style="width:360px; height: 200px;"></textarea>
    <br />
    <div class="btn-holder" style="text-align: center;">
        <button type="submit" ng-click="vm.pasteExcelData()" class="btn btn-default btn-add">Paste data</button>
        <button type="reset" ng-click="vm.excelDataWindow.close();" class="btn btn-default btn-cancel">Cancel</button>
    </div>
</div>

<div kendo-window="vm.dataPasteSuccessWindow"
     k-title="'Data was pasted successfully'"
     k-width="400"
     k-modal="true"
     k-visible="false">
    <div>Updated dimension name: {{vm.selectedDimensionName}}</div>
    <div class="btn-holder" style="text-align: center;">
        <button type="submit" ng-click="vm.$state.reload();" class="btn btn-default btn-add">Ok</button>
    </div>
</div>

<script>
    $(document).ready(function () {
        var grid = $("#dimensionGrid").kendoGrid({
            dataBound: onDataBound
        });
    });
    function onDataBound() {
        var wrapper = this.wrapper,
            header = wrapper.find(".k-grid-header");

        function scrollFixed() {
            var offset = $(this).scrollTop(),
                tableOffsetTop = wrapper.offset().top,
                tableOffsetBottom = tableOffsetTop + wrapper.height() - header.height();
            var right = $(document).scrollLeft();
            if (header.hasClass("fixed-header")) {
                header.css("left", 320 - right);
            }
            if (offset < tableOffsetTop || offset > tableOffsetBottom) {
                header.removeClass("fixed-header");
            } else if (offset >= tableOffsetTop && offset <= tableOffsetBottom && !header.hasClass("fixed")) {
                header.addClass("fixed-header");
            }
        }
        $(window).scroll(scrollFixed);
    }
    function dirtyField(data, fieldName) {
        if (data.dirty && data.dirtyFields[fieldName]) {
            return "<span class='k-dirty'></span>"
        }
        else {
            return "";
        }
    }
</script>
<style>
    .fixed-header {
        top: 0;
        position: fixed;
        width: auto;
        z-index: 1;
    }
</style>