﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="~/Account/ManageUsers.aspx.designer.cs" CodeFile="ManageUsers.aspx.cs" Inherits="ClearJelly.Web.Account.ManageUsers" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html><%@ Page Language="C#" AutoEventWireup="true" CodeFile="ManageUsers.aspx.cs" Inherits="Account_ManageUsers" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form2" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>