﻿@import "var";
@import url('font-awesome/css/font-awesome.css');

html {
    height: 100%;
    position: relative;
}

body {
    font-family: 'Open Sans',sans-serif;
    position: relative;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    display: table;
    min-width: 320px;
    width: 100%;
    height: 100%;
    min-height: 100%;
    color: #000;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.main-part {
    width: 100%;
    display: table;
}



.opensidebar {
    margin: 8px;
    margin-left: 15px;
}

.navbar-default {
    height: 50px;
    margin: 0;
    border-radius: 0;
}

/*.navbar-toggle {
    float: left;
    margin: 8px;
    &:hover .sidebar-page{
        left:0;
    }

    @media (min-width:768px) {
        display: block;
    }

    @media (min-width:1441px) {
        display: none;
    }
}*/

.navbar-collapse {
    border: none;
}

.wrapper {
    width: calc(100% - 300px);
    margin-left: auto;
}

.wrapper-database {
    padding: 20px;
    height: 100%;
    padding-top: 45px;
    margin: 0 auto;
    position:relative;

    .loader-view{
        position:absolute;
        top:50vh;
        left:50%;
        margin-right:-24px;
    }

    @media screen and (max-width:767px) {
    }

    .dimensions-block, .cubes-block {
        background: #fff;
        border: 1px solid #c2ccd5;
        min-height: 600px;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;

        .item {
            padding: 5px;

            &:hover {
                background: #ddd;
                cursor: pointer;
            }
        }
    }

    .dimensions, .cubes {
        float: left;


        @media screen and (max-width:767px) {
            float: none;
        }


        .title {
            font-weight: 600;
            font-size: 16px;
            padding: 15px 0;
        }
    }

    .cubes {
        .btn-group-flex {
            display: inline-block;
            float: right;
            margin-top: -5px;


            .btn {
                border-radius: 3px;
                padding-right: 25px;

                &:focus {
                    outline: none;
                }

                @media screen and (max-width:991px) {
                    padding-right: 12px;
                }

                &.edit {
                    position: relative;


                    &:after {
                        content: "\f044";
                        position: absolute;
                        right: 8px;
                        font-family: FontAwesome;

                        @media screen and (max-width:991px) {
                            position: static;
                        }
                    }
                }

                &.del {
                    position: relative;


                    &:after {
                        content: "\f014";
                        position: absolute;
                        right: 8px;
                        font-family: FontAwesome;

                        @media screen and (max-width:991px) {
                            position: static;
                        }
                    }
                }

                &.new {
                    position: relative;


                    &:after {
                        content: "\f0f6";
                        position: absolute;
                        right: 8px;
                        font-family: FontAwesome;

                        @media screen and (max-width:991px) {
                            position: static;
                        }
                    }
                }
            }
        }
    }
}

.header-navigation {
    background: @dark;

    .navbar-collapse.in, .navbar-right {
        @media screen and (max-width:767px) {
            background-color: @light;

            a {
                color: @grey;
            }

            .dropdown.open ul > li {
                a {
                    color: #c7c7c7;

                    &:hover {
                        color: @light;
                    }
                }
            }
        }
    }

    .navbar-nav > li > a {
        color: @light;

        &:hover {
            background-color: #677891;
            color: #fff;
        }

        &:focus {
            color: #fff;
        }
    }

    .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
        background-color: #677891 !important;
        color: #fff !important;
    }

    .dropdown-menu {
        background-color: #677891 !important;
        border: none;
        min-width: 128px;

        li {
            a {
                color: #fff;

                &:hover {
                    background: #677891;
                }
            }
        }
    }
}

.sidebar-page {
    position: absolute;
    height: calc(100% - 50px);
    width: 100%;
    float: left;
    background: #f5f7f9;
    max-width: 300px;
    top: 50px;
    z-index: 1;

    .k-in {
        border-color: transparent;
        width: 210px !important;
    }


    .navbar-default {
        background: @light;
        position: relative;
        max-width: 1024px;
        margin: 0 auto;
        height: 100%;

        button + button {
            margin-right: 16px;
        }

        .k-state-hover {
            background: @blue !important;
            color: #fff;
        }

        .form-group {
            padding-left: 15px;
            padding-right: 15px;

            .btn-group {
                padding: 5px;

                i {
                    &:first-child {
                        margin-right: 5px;
                    }
                }

                a {
                    color: @dark;
                }
            }

            label {
                float: left;
                width: 100%;
            }

            .form-control {
                max-width: 200px;
            }
        }

        .nav > li {
            &:hover {
                border-radius: 0;
                transition: 0.3s;
            }

            a {
                color: #c7c7c7;

                &:focus {
                    color: #c7c7c7;
                }
            }
        }
    }

    .navbar {
        min-height: 0;
        border: none;
        z-index: 0;

        .nav > li {
            width: 100%;

            &:hover {
                border-radius: 0;
                background: #FFF;

                a {
                    color: #0084ff;
                }
            }

            a {
                color: #808080;
            }
        }
    }

    .sidebar-menu {
        list-style: none;
        padding: 0;

        li {
            width: 100%;

            &:hover {
                background: #fff;
                color: #808080;
                cursor: pointer;

                a {
                    color: #808080;
                    text-decoration: none;

                    &:hover, &:focus, &:visited {
                        text-decoration: none;
                    }
                }
            }

            a {
                display: inline-block;
                width: 100%;
                padding: 10px 15px;
                position: relative;

                &:after {
                    content: "\f105";
                    position: absolute;
                    right: 15px;
                    font-family: FontAwesome;
                }
            }
        }

        button.add-dimension {
            &:hover {
                .tooltip {
                    display: block;
                }
            }

            & > .tolltip {
                display: none;
            }
        }
    }

    .navbar-toggle {
        display: block !important;
        color: #808080;
        position: absolute;
        right: -30px;
        background: @light;
        border: none;
        border-radius: 0 4px 4px 0px;
        margin: 0;
        top: 0;

        &:hover, &:focus {
            background: @light !important;
        }
    }
}

.k-grid-footer, .k-grid-footer td, .k-grid-header, .k-grid-header .k-header, .k-pager-numbers .k-state-selected, .k-pager-wrap, .k-scheduler-header, .km-pane-wrapper .k-grid-header .k-header {
    background-color: @light !important;
    color: @grey !important;
}

.k-grid-header .k-header, .k-grid-header .k-header .k-link, .k-grid-header .k-link, .k-grid-header .k-link:link, .k-pager-info, .k-scheduler-agendaview .k-scheduler-datecolumn, .k-scheduler-header {
    color: @grey !important;
}

.k-window-titlebar {
    background: @dark !important;
}

.btn-add {
    background: @green;
    color: #fff;

    &:hover, &:focus, &:active, &:visited, &:active:focus {
        background: #7CBC56;
        color: #fff;
        outline: none;
    }
}

.btn-delete {
    background: #A7CCE7;
    color: #fff;

    &:hover, &:focus, &:active, &:visited, &:active:focus {
        background: #7AABCE;
        color: #fff;
        outline: none;
    }
}

.btn-default {
    &:active:focus, &:focus {
        outline: none;
    }
}

.form-control {
    box-sizing: border-box !important;
    border-radius: 4px !important;
}

.k-list-container {
    background-color: #fff !important;
}
