/* Coolors Exported Palette - coolors.co/888888-e9e7e9-a3de81-475a77-a7cde7 */
/* RGB */
@import url('font-awesome/css/font-awesome.css');

html {
    height: 100%;
    position: relative;
}

body {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    display: table;
    min-width: 320px;
    width: 100%;
    height: 100%;
    min-height: 100%;
    color: #000;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.main-part {
    width: 100%;
    display: table;
}

.opensidebar {
    margin: 8px;
    margin-left: 15px;
}

.navbar-default {
    height: 50px;
    margin: 0;
    border-radius: 0;
}
/*.navbar-toggle {
    float: left;
    margin: 8px;
    &:hover .sidebar-page{
        left:0;
    }

    @media (min-width:768px) {
        display: block;
    }

    @media (min-width:1441px) {
        display: none;
    }
}*/
.navbar-collapse {
    border: none;
}

.wrapper {
    width: calc(100% - 300px);
    margin-left: auto;
}

.wrapper-database {
    padding: 20px;
    height: 100%;
    padding-top: 45px;
    margin: 0 auto;
    position: relative;
}

    .wrapper-database .loader-view {
        position: absolute;
        top: 50vh;
        left: 50%;
        margin-right: -24px;
    }

    .wrapper-database .dimensions-block,
    .wrapper-database .cubes-block {
        background: #fff;
        border: 1px solid #c2ccd5;
        min-height: 600px;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
    }

        .wrapper-database .dimensions-block .item,
        .wrapper-database .cubes-block .item {
            padding: 5px;
        }

            .wrapper-database .dimensions-block .item:hover,
            .wrapper-database .cubes-block .item:hover {
                background: #ddd;
                cursor: pointer;
            }

    .wrapper-database .dimensions,
    .wrapper-database .cubes {
        float: left;
    }

@media screen and (max-width: 767px) {
    .wrapper-database .dimensions,
    .wrapper-database .cubes {
        float: none;
    }
}

.wrapper-database .dimensions .title,
.wrapper-database .cubes .title {
    font-weight: 600;
    font-size: 16px;
    padding: 15px 0;
}

.wrapper-database .cubes .btn-group-flex {
    display: inline-block;
    float: right;
    margin-top: -5px;
}

    .wrapper-database .cubes .btn-group-flex .btn {
        border-radius: 3px;
        padding-right: 25px;
    }

        .wrapper-database .cubes .btn-group-flex .btn:focus {
            outline: none;
        }

@media screen and (max-width: 991px) {
    .wrapper-database .cubes .btn-group-flex .btn {
        padding-right: 12px;
    }
}

.wrapper-database .cubes .btn-group-flex .btn.edit {
    position: relative;
}

    .wrapper-database .cubes .btn-group-flex .btn.edit:after {
        content: "\f044";
        position: absolute;
        right: 8px;
        font-family: FontAwesome;
    }

@media screen and (max-width: 991px) {
    .wrapper-database .cubes .btn-group-flex .btn.edit:after {
        position: static;
    }
}

.wrapper-database .cubes .btn-group-flex .btn.del {
    position: relative;
}

    .wrapper-database .cubes .btn-group-flex .btn.del:after {
        content: "\f014";
        position: absolute;
        right: 8px;
        font-family: FontAwesome;
    }

@media screen and (max-width: 991px) {
    .wrapper-database .cubes .btn-group-flex .btn.del:after {
        position: static;
    }
}

.wrapper-database .cubes .btn-group-flex .btn.new {
    position: relative;
}

    .wrapper-database .cubes .btn-group-flex .btn.new:after {
        content: "\f0f6";
        position: absolute;
        right: 8px;
        font-family: FontAwesome;
    }

@media screen and (max-width: 991px) {
    .wrapper-database .cubes .btn-group-flex .btn.new:after {
        position: static;
    }
}

.header-navigation {
    background: #475a77;
}

@media screen and (max-width: 767px) {
    .header-navigation .navbar-collapse.in,
    .header-navigation .navbar-right {
        background-color: #e9e7e9;
    }

        .header-navigation .navbar-collapse.in a,
        .header-navigation .navbar-right a {
            color: #888888;
        }

        .header-navigation .navbar-collapse.in .dropdown.open ul > li a,
        .header-navigation .navbar-right .dropdown.open ul > li a {
            color: #c7c7c7;
        }

            .header-navigation .navbar-collapse.in .dropdown.open ul > li a:hover,
            .header-navigation .navbar-right .dropdown.open ul > li a:hover {
                color: #e9e7e9;
            }
}

.header-navigation .navbar-nav > li > a {
    color: #e9e7e9;
}

    .header-navigation .navbar-nav > li > a:hover {
        background-color: #677891;
        color: #fff;
    }

    .header-navigation .navbar-nav > li > a:focus {
        color: #fff;
    }

.header-navigation .navbar-nav > .open > a,
.header-navigation .navbar-default .navbar-nav > .open > a:focus,
.header-navigation .navbar-default .navbar-nav > .open > a:hover {
    background-color: #677891 !important;
    color: #fff !important;
}

.header-navigation .dropdown-menu {
    background-color: #677891 !important;
    border: none;
    min-width: 128px;
}

    .header-navigation .dropdown-menu li a {
        color: #fff;
    }

        .header-navigation .dropdown-menu li a:hover {
            background: #677891;
        }

.sidebar-page {
    position: absolute;
    height: calc(100% - 50px);
    width: 100%;
    float: left;
    background: #f5f7f9;
    max-width: 300px;
    top: 50px;
    z-index: 1;
}

    .sidebar-page .k-in {
        border-color: transparent;
        width: 210px !important;
    }

    .sidebar-page .navbar-default {
        background: #e9e7e9;
        position: relative;
        max-width: 1024px;
        margin: 0 auto;
        height: 100%;
    }

        .sidebar-page .navbar-default button + button {
            margin-right: 16px;
        }

        .sidebar-page .navbar-default .k-state-hover {
            background: #a7cde7 !important;
            color: #fff;
        }

        .sidebar-page .navbar-default .form-group {
            padding-left: 15px;
            padding-right: 15px;
        }

            .sidebar-page .navbar-default .form-group .btn-group {
                padding: 5px;
            }

                .sidebar-page .navbar-default .form-group .btn-group i:first-child {
                    margin-right: 5px;
                }

                .sidebar-page .navbar-default .form-group .btn-group a {
                    color: #475a77;
                }

            .sidebar-page .navbar-default .form-group label {
                float: left;
                width: 100%;
            }

            .sidebar-page .navbar-default .form-group .form-control {
                max-width: 200px;
            }

        .sidebar-page .navbar-default .nav > li:hover {
            border-radius: 0;
            transition: 0.3s;
        }

        .sidebar-page .navbar-default .nav > li a {
            color: #c7c7c7;
        }

            .sidebar-page .navbar-default .nav > li a:focus {
                color: #c7c7c7;
            }

    .sidebar-page .navbar {
        min-height: 0;
        border: none;
        z-index: 0;
    }

        .sidebar-page .navbar .nav > li {
            width: 100%;
        }

            .sidebar-page .navbar .nav > li:hover {
                border-radius: 0;
                background: #FFF;
            }

                .sidebar-page .navbar .nav > li:hover a {
                    color: #0084ff;
                }

            .sidebar-page .navbar .nav > li a {
                color: #808080;
            }

    .sidebar-page .sidebar-menu {
        list-style: none;
        padding: 0;
    }

        .sidebar-page .sidebar-menu li {
            width: 100%;
        }

            .sidebar-page .sidebar-menu li:hover {
                background: #fff;
                color: #808080;
                cursor: pointer;
            }

                .sidebar-page .sidebar-menu li:hover a {
                    color: #808080;
                    text-decoration: none;
                }

                    .sidebar-page .sidebar-menu li:hover a:hover,
                    .sidebar-page .sidebar-menu li:hover a:focus,
                    .sidebar-page .sidebar-menu li:hover a:visited {
                        text-decoration: none;
                    }

            .sidebar-page .sidebar-menu li a {
                display: inline-block;
                width: 100%;
                padding: 10px 15px;
                position: relative;
            }

                .sidebar-page .sidebar-menu li a:after {
                    content: "\f105";
                    position: absolute;
                    right: 15px;
                    font-family: FontAwesome;
                }

        .sidebar-page .sidebar-menu button.add-dimension:hover .tooltip {
            display: block;
        }

        .sidebar-page .sidebar-menu button.add-dimension > .tolltip {
            display: none;
        }

    .sidebar-page .navbar-toggle {
        display: block !important;
        color: #808080;
        position: absolute;
        right: -30px;
        background: #e9e7e9;
        border: none;
        border-radius: 0 4px 4px 0px;
        margin: 0;
        top: 0;
    }

        .sidebar-page .navbar-toggle:hover,
        .sidebar-page .navbar-toggle:focus {
            background: #e9e7e9 !important;
        }

.k-grid-footer,
.k-grid-footer td,
.k-grid-header,
.k-grid-header .k-header,
.k-pager-numbers .k-state-selected,
.k-pager-wrap,
.k-scheduler-header,
.km-pane-wrapper .k-grid-header .k-header {
    background-color: #e9e7e9 !important;
    color: #888888 !important;
}

    .k-grid-header .k-header,
    .k-grid-header .k-header .k-link,
    .k-grid-header .k-link,
    .k-grid-header .k-link:link,
    .k-pager-info,
    .k-scheduler-agendaview .k-scheduler-datecolumn,
    .k-scheduler-header {
        color: #888888 !important;
    }

.k-window-titlebar {
    background: #475a77 !important;
}

.btn-add {
    background: #a3de81;
    color: #fff;
}

    .btn-add:hover,
    .btn-add:focus,
    .btn-add:active,
    .btn-add:visited,
    .btn-add:active:focus {
        background: #7CBC56;
        color: #fff;
        outline: none;
    }

.btn-delete, .btn-edit {
    background: #A7CCE7;
    color: #fff;
}

    .btn-delete:hover,
    .btn-delete:focus,
    .btn-delete:active,
    .btn-delete:visited,
    .btn-delete:active:focus,
    .btn-edit:hover,
    .btn-edit:focus,
    .btn-edit:active,
    .btn-edit:visited,
    .btn-edit:active:focus {
        background: #7AABCE;
        color: #fff;
        outline: none;
    }

.btn-default:active:focus,
.btn-default:focus {
    outline: none;
}

.form-control {
    box-sizing: border-box !important;
    border-radius: 4px !important;
}

.k-list-container {
    background-color: #fff !important;
}

.title-box {
    margin-bottom: 15px;
}

.k-header.k-grid-toolbar {
    background-color: rgb(71, 90, 119);
}

    .k-header.k-grid-toolbar > .k-button {
        background-color: #677891 !important;
        border: none !important;
    }

        .k-header.k-grid-toolbar > .k-button:active {
            color: #fff !important;
        }

        .k-header.k-grid-toolbar > .k-button:focus {
            box-shadow: inset 0 2px 6px rgba(0, 0, 0, .2), 0 2px 3px rgba(0, 0, 0, .05) !important;
        }

.k-grid-pager .k-link span, .k-grid-pager .k-link:link span{
    padding:8px;

}
.k-grid-pager .k-link, .k-grid-pager .k-link:link {
    padding:8px;
    border:none!important;
}
.k-pager-wrap .k-pager-numbers .k-state-selected{
    margin:0!important;
}
a:focus{
    outline:none!important;
}
.k-grid-header{
    width:inherit!important;
}