﻿/* Coolors Exported Palette - coolors.co/888888-e9e7e9-a3de81-475a77-a7cde7 */



/* RGB */
@grey: rgba(136, 136, 136, 1);
@light: rgba(233, 231, 233, 1);
@green: rgba(163, 222, 129, 1);
@dark: rgba(71, 90, 119, 1);
@blue: rgba(167, 205, 231, 1);
