﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true" CodeBehind="AddXeroOrgs.aspx.cs" Inherits="ClearJelly.Web.AddXeroOrgs" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <div>
        

        <br />
        <br />

        <table style="width: 50%">
              <tr>
                <td style="width: 300px">
                    <asp:Label ID="lblSD" runat="server" Width="220" Text="Start Date:" Visible="false" />
                </td>
            </tr>
            <tr>
                <td style="width: 300px">
                    <asp:TextBox ID="txtSD" runat="server" Width="220" Text="" Visible="false"/>                    
                     
                </td>
            </tr>
        </table>

        <br />
        <asp:Label ID="invoiceCreatedLabel" runat="server" />
    </div>
    <p>
    </p>
    <script type="text/javascript" src="../Scripts/XeroWebApp/Default.js">
    </script>
</asp:Content>
