﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true" CodeBehind="Error.aspx.cs" Inherits="ClearJelly.Web.Error" %>

<asp:Content runat="server" ID="BodyContent" ContentPlaceHolderID="MainContent">
    <div class="col-md-12 gray-bg">
        <section id="loginForm1">
            <div class="login-title">
               <%-- <h1>Login</h1>--%>
                <span>Some error occurred please try again.</span>
            </div>
            <div class="login-box mb30">
                <div class="clearfix"></div>

                </div>
        </section>
    </div>
    <%--<div class="row min-height400">
        <div class="col-md-12">
            
        </div>
    </div>--%>
</asp:Content>


