﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true" CodeBehind="MaintainancePage.aspx.cs" Inherits="ClearJelly.Web.MaintainancePage" %>

<asp:Content runat="server" ID="BodyContent" ContentPlaceHolderID="MainContent">
    <%-- <div class="col-md-12 gray-bg">--%>
    <%--<section id="loginForm1">--%>
    <div class="col-md-12 gray-bg maintenanceHeight">
        <div class="maintenancePage">
            <div class="container">
                <div class="maintenancePage-work">
                    <div class="setting-i">
                        <img src="Images/setting.png"></div>
                    <p>Maintenance Mode</p>
                    <span>Sorry for the inconvenience.<br />
                        Our website is going under scheduled maintenance.
                        <br />
                        Thank you for your understanding</span>

                </div>
            </div>
        </div>
        <div class="login-box mb30">
            <div class="clearfix"></div>

        </div>
    </div>
    <%--</section>--%>
    <%--</div>--%>
    <%--<div class="row min-height400">
        <div class="col-md-12">
            
        </div>
    </div>--%>

    <style>
       
    </style>
</asp:Content>

