﻿<%@ Page Title="" Language="C#" AutoEventWireup="true" CodeBehind="PaypalNotification.aspx.cs" Inherits="ClearJelly.Web.PaypalNotification" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
</asp:Content>
