﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true" CodeBehind="QuickGuide.aspx.cs" Inherits="ClearJelly.Web.QuickGuide" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
     <div class="container-fluid gray-bg pt15 pb15 mb15">
    <html xmlns="http://www.w3.org/1999/xhtml">
   
        <head>
            <title></title>
        </head>
        <body>
            <form id="form1">
                 <div class="login-title pb10">
                <h1>Quick Guide</h1>
            </div>
                <div id="addVideo" runat="server">
                   
                </div>
            </form>
        </body>
    </html>
    </div>
</asp:Content>
