﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true" CodeBehind="ReportBugs.aspx.cs" Inherits="ClearJelly.Web.ReportBugs" %>

<asp:Content runat="server" ID="BodyContent" ContentPlaceHolderID="MainContent">
    <asp:Button runat="server" OnClick="btnSumbitBug" Text="Submit the bug"  ID="SumbitBug" />
</asp:Content>
