﻿<%@ Page Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Terms_of_use.aspx.cs" CodeFile="Terms_of_use.aspx.cs" Inherits="ClearJelly.Web.Terms_of_use" %>

<asp:Content runat="server" ID="BodyContent" ContentPlaceHolderID="MainContent">
    <link rel="stylesheet" href="Content/prettyPhoto.css" type="text/css" media="screen" title="prettyPhoto main stylesheet" charset="utf-8" />
    <script src="Scripts/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
    <div class="homePage pad-80">
        <h2>Managility Terms of Use</h2>
    </div>
    <br />
    <div class="homePage pad-80">
        <p>
            <strong>
                <h4>Welcome to Managility and their cloud based Clear Jelly business intelligence service. These Terms of Use are intended to explain our obligations as a service provider and Your obligations as a customer. Please read them carefully.</h4>
            </strong>
        </p>
        <p>
            These Terms are binding on any use of the Service and apply to You from the time that Managility provides You with access to the Service.
        </p>
        <p>
            The Managility Service will evolve over time based on user feedback. These Terms are not intended to answer every question or address every issue raised by the use of the Managility Service. Managility reserves the right to change these terms at any time, effective upon the posting of modified terms and Managility will make every effort to communicate these changes to You via email or notification via the Website. It is likely the terms of use will change over time. It is Your obligation to ensure that You have read, understood and agree to the most recent terms available on the Website.
        </p>
        <p>
            By registering to use the Service you acknowledge that You have read and understood these Terms and have the authority to act on behalf of any person for whom You are using the Service. You are deemed to have agreed to these Terms on behalf of any entity for whom you use the Service.
        </p>
        <p>
            These Terms were last updated on 15 July 2015.
        </p>
        <ol>
            <br />
            <h4>
                <li>DEFINITIONS</li>
            </h4>
            <br />
            <p>
                <div><strong>"Agreement"</strong></div>
                <div class="padding_left">
                    means these Terms of Use.
                </div>
            </p>
            <p>
                <div><strong>"Access Fee"</strong></div>
                <div class="padding_left">
                    means the monthly fee (excluding any taxes and duties) payable by You in accordance with the fee schedule set out on the Website (which Managility may change from time to time on notice to You).
                </div>
            </p>
            <p>
                <div><strong>"Confidential Information"</strong></div>
                <div class="padding_left">
                    includes all information exchanged between the parties to this Agreement, whether in writing, electronically or orally, including the Service but does not include information which is, or becomes, publicly available other than through unauthorized disclosure by the other party.
                </div>
            </p>
            <p>
                <div><strong>"Data"</strong></div>
                <div class="padding_left">
                    means any data inputted by You or with Your authority into the Website.
                </div>
            </p>
            <p>
                <div><strong>"Intellectual Property Right"</strong></div>
                <div class="padding_left">
                    means any patent, trade mark, service mark, copyright, moral right, right in a design, know-how and any other intellectual or industrial property rights, anywhere in the world whether or not registered.
                </div>
            </p>
            <p>
                <div><strong>"Service"</strong></div>
                <div class="padding_left">
                    means the online accounting and personal finance management services made available (as may be changed or updated from time to time by Managility) via the Website.
                </div>
            </p>
            <p>
                <div><strong>"Website"</strong></div>
                <div class="padding_left">
                    means the Internet site at the domain www.Managility.com.au or any other site operated by Managility.
                </div>
            </p>
            <p>
                <div><strong>"Managility"</strong></div>
                <div class="padding_left">
                    means Managility Pty Ltd a private company registered in Sydney New South Wales, Australia.
                </div>
            </p>
            <p>
                <div><strong>"Invited User"</strong></div>
                <div class="padding_left">
                    means any person or entity, other than the Subscriber, that uses the Service with the authorization of the Subscriber from time to time.
                </div>
            </p>
            <p>
                <div><strong>"Subscriber"</strong></div>
                <div class="padding_left">
                    means the person who registers to use the Service, and, where the context permits, includes any entity on whose behalf that person registers to use the Service.
                </div>
            </p>
            <p>
                <div><strong>"You"</strong></div>
                <div class="padding_left">
                    means the Subscriber, and where the context permits, an Invited User. "Your" has a corresponding meaning.
                </div>
            </p>
            <br />
            <h4>
                <li>USE OF SOFTWARE</li>
            </h4>
            <br />
            <p>
                Managility grants You the right to access and use the Service via the Website with the particular user roles available to You according to Your subscription type. This right is non-exclusive, non-transferable, and limited by and subject to this Agreement. You acknowledge and agree that, subject to any applicable written agreement between the Subscriber and the Invited Users, or any other applicable laws:
            </p>
            <ol>
                <li>the Subscriber determines who is an Invited User and what level of user role access to the relevant organization and Service that Invited User has;</li>
                <li>the Subscriber is responsible for all Invited Users’ use of the Service;</li>
                <li>the Subscriber controls each Invited User’s level of access to the relevant organization and Service at all times and can revoke or change an Invited User’s access, or level of access, at any time and for any reason, in which case that person or entity will cease to be an Invited User or shall have that different level of access, as the case may be;</li>
                <li>if there is any dispute between a Subscriber and an Invited User regarding access to any organization or Service, the Subscriber shall decide what access or level of access to the relevant Data or Service that Invited User shall have, if any.</li>
            </ol>
            </br>
            <h4>
                <li>YOUR OBLIGATIONS</li>
            </h4>
            </br>
        <ol>
            <strong>
                <li>Payment obligations:</li>
            </strong>
            <p>
                An invoice for the Access Fee will be issued each month starting one month from the date You added Your first organization to Your Managility account. All invoices will include the Access Fee for the preceding period one month of use. Managility will continue invoicing You monthly until this Agreement is terminated in accordance with clause 8.
            </p>
            <p>
                All Managility invoices will be sent to You, or to a Billing Contact whose details are provided by You, by email. You must pay or arrange payment of all amounts specified in any invoice by the due date for payment and are payable within 10 days of the invoice date. You are responsible for payment of all taxes and duties in addition to the Access Fee.
            </p>
            <strong>
                <li>Preferential pricing or discounts:</li>
            </strong>
            <p>
                You may from time to time be offered preferential pricing or discounts for the Access Fees as a result of the number of organizations that You have added to the Service or that have been added with Your authority or as a result of Your use of the Service ('Organizations'). Eligibility for such preferential pricing or discounts is conditional upon Your acceptance of responsibility for payment of any Access Fees in relation to all of Your Organizations. Without prejudice to any other rights that Managility may have under these Terms or at law, Managility reserves the right to render invoices for the full (non-discounted) Access Fees due or suspend or terminate Your use of the Service in respect of any or all of Your Organizations in the event that any invoices for those Access Fees are not paid in full by the due date for payment.
            </p>
            <strong>
                <li>General obligations:</li>
            </strong>
            <p>
                You must only use the Service and Website for Your own lawful internal business purposes, in accordance with these Terms and any notice sent by Managility or condition posted on the Website. You may use the Service and Website on behalf of others or in order to provide services to others but if You do so you must ensure that You are authorized to do so and that all persons for whom or to whom services are provided comply with and accept all terms of this Agreement that apply to You.
            </p>
            <strong>
                <li>Access conditions:</li>
            </strong>
            <ol type="a">
                <li>You must ensure that all usernames and passwords required to access the Service are kept secure and confidential. You must immediately notify Managility of any unauthorized use of Your passwords or any other breach of security and Managility will reset Your password and You must take all other actions that Managility reasonably deems necessary to maintain or enhance the security of Managility's computing systems and networks and Your access to the Services.</li>
                <li>As a condition of these Terms, when accessing and using the Services, You must:</li>
                <ol type="i">
                    <li>not attempt to undermine the security or integrity of Managility's computing systems or networks or, where the Services are hosted by a third party, that third party's computing systems and networks;</li>
                    <li>not use, or misuse, the Services in any way which may impair the functionality of the Services or Website, or other systems used to deliver the Services or impair the ability of any other user to use the Services or Website;</li>
                    <li>not attempt to gain unauthorized access to any materials other than those to which You have been given express permission to access or to the computer system on which the Services are hosted;</li>
                    <li>not transmit, or input into the Website, any: files that may damage any other person's computing devices or software, content that may be offensive, or material or Data in violation of any law (including Data or other material protected by copyright or trade secrets which You do not have the right to use); and</li>
                    <li>not attempt to modify, copy, adapt, reproduce, disassemble, decompile or reverse engineer any computer programs used to deliver the Services or to operate the Website except as is strictly necessary to use either of them for normal operation.</li>
                </ol>
            </ol>
            <br />
            <strong>
                <li>Usage Limitations:</li>
            </strong>
            <p>
                Use of the Service may be subject to limitations, including but not limited to monthly transaction volumes and the number of calls You are permitted to make against Managility’s application programming interface. Any such limitations will be specified within the Service.
            </p>
            <strong>
                <li>Communication Conditions:</li>
            </strong>
            <p>
                As a condition of these Terms, if You use any communication tools available through the Website (such as any forum, chat room or message center), You agree only to use such communication tools for lawful and legitimate purposes. You must not use any such communication tool for posting or disseminating any material unrelated to the use of the Services, including (but not limited to): offers of goods or services for sale, unsolicited commercial e-mail, files that may damage any other person's computing devices or software, content that may be offensive to any other users of the Services or the Website, or material in violation of any law (including material that is protected by copyright or trade secrets which You do not have the right to use).
            </p>
            <p>
                When You make any communication on the Website, You represent that You are permitted to make such communication. Managility is under no obligation to ensure that the communications on the Website are legitimate or that they are related only to the use of the Services. As with any other web-based forum, You must exercise caution when using the communication tools available on the Website. However, Managility does reserve the right to remove any communication at any time in its sole discretion.
            </p>
            <strong>
                <li>Indemnity.</li>
            </strong>
            <p>
                You indemnify Managility against: all claims, costs, damage and loss arising from Your breach of any of these Terms or any obligation You may have to Managility, including (but not limited to) any costs relating to the recovery of any Access Fees that are due but have not been paid by You.
            </p>
        </ol>
            <br />
            <h4>
                <li>CONFIDENTIALITY AND PRIVACY
                </li>
            </h4>
            <br />
            <ol>
                <strong>
                    <li>Confidentiality:</li>
                </strong>
                <span>
                    Unless the relevant party has the prior written consent of the other or unless required to do so by law:
                </span>
                <ol type="a">
                    <li>Each party will preserve the confidentiality of all Confidential Information of the other obtained in connection with these Terms. Neither party will, without the prior written consent of the other, disclose or make any Confidential Information available to any person, or use the same for its own benefit, other than as contemplated by these Terms.</li>
                    <li>Each party's obligations under this clause will survive termination of these Terms.</li>
                    <li>The provisions of clauses 4.1.1 and 4.1.2 shall not apply to any information which:</li>
                    <ol type="i">
                        <li>is or becomes public knowledge other than by a breach of this clause;</li>
                        <li>is received from a third party who lawfully acquired it and who is under no obligation restricting its disclosure;</li>
                        <li>is in the possession of the receiving party without restriction in relation to disclosure before the date of receipt from the disclosing party; or</li>
                        <li>is independently developed without access to the Confidential Information.</li>
                    </ol>
                </ol>
                <br />
                <strong>
                    <li>Privacy:</li>
                </strong>
                <p>
                    Managility maintains a privacy policy that sets out the parties’ obligations in respect of personal information . You should read that policy at privacy link/ and You will be taken to have accepted that policy when You accept these Terms.
                </p>
            </ol>
            <br />
            <h4>
                <li>INTELLECTUAL PROPERTY
                </li>
            </h4>
            <br />
            <ol>
                <strong>
                    <li>General:</li>
                </strong>
                <p>
                    Title to, and all Intellectual Property Rights in the Services, the Website and any documentation relating to the Services remain the property of Managility (or its licensors).
                </p>
                <strong>
                    <li>Ownership of Data:</li>
                </strong>
                <p>
                    Title to, and all Intellectual Property Rights in, the Data remain Your property. However, Your access to the Data is contingent on full payment of the Managility Access Fee when due. You grant Managility a licence to use, copy, transmit, store, and back-up Your information and Data for the purposes of enabling You to access and use the Services and for any other purpose related to provision of services to You.
                </p>
                <strong>
                    <li>Backup of Data:</li>
                </strong>
                <p>
                    You must maintain copies of all Data inputted into the Service. Managility adheres to its best practice policies and procedures to prevent data loss, including a daily system data back-up regime, but does not make any guarantees that there will be no loss of Data. Managility expressly excludes liability for any loss of Data no matter how caused.
                </p>
                <strong>
                    <li>Third-party applications and your Data.</li>
                </strong>
                <p>
                    If You enable third-party applications for use in conjunction with the Services, You acknowledge that Managility may allow the providers of those third-party applications to access Your Data as required for the interoperation of such third-party applications with the Services. Managility shall not be responsible for any disclosure, modification or deletion of Your Data resulting from any such access by third-party application providers.
                </p>
            </ol>
            <br />
            <h4>
                <li>WARRANTIES AND ACKNOWLEDGEMENTS
                </li>
            </h4>
            <br />
            <ol>
                <li><strong>Authority:</strong></li>
                <p>
                    You warrant that where You have registered to use the Service on behalf of another person, You have the authority to agree to these Terms on behalf of that person and agree that by registering to use the Service You bind the person on whose behalf You act to the performance of any and all obligations that You become subject to by virtue of these Terms, without limiting Your own personal obligations under these Terms.
                </p>
                <li><strong>Acknowledgement:</strong></li>
                <span>You acknowledge that:
                </span>
                <ol type="a">
                    <li>You are authorized to use the Services and the Website and to access the information and Data that You input into the Website, including any information or Data input into the Website by any person you have authorized to use the Service. You are also authorized to access the processed information and Data that is made available to You through Your use of the Website and the Services (whether that information and Data is Your own or that of anyone else).</li>
                    <li>Managility has no responsibility to any person other than You and nothing in this Agreement confers, or purports to confer, a benefit on any person other than You. If You use the Services or access the Website on behalf of or for the benefit of anyone other than yourself (whether a body corporate or otherwise) you agree that:</li>
                    <ol type="i">
                        <li>You are responsible for ensuring that You have the right to do so;</li>
                        <li>You are responsible for authorizing any person who is given access to information or Data, and you agree that Managility has no obligation to provide any person access to such information or Data without Your authorization and may refer any requests for information to You to address; and</li>
                        <li>You will indemnify Managility against any claims or loss relating to:</li>
                        <ol type="i">
                            <li>Managility's refusal to provide any person access to Your information or Data in accordance with these Terms,</li>
                            <li>Managility’s making available information or Data to any person with Your authorisation.</li>
                        </ol>
                    </ol>
                    <li>The provision of, access to, and use of, the Services is on an "as is " basis and at Your own risk.</li>
                    <li>Managility does not warrant that the use of the Service will be uninterrupted or error free. Among other things, the operation and availability of the systems used for accessing the Service, including public telephone services, computer networks and the Internet, can be unpredictable and may from time to time interfere with or prevent access to the Services. Managility is not in any way responsible for any such interference or prevention of Your access or use of the Services.</li>
                    <li>Managility is not Your accountant and use of the Services does not constitute the receipt of accounting advice. If You have any accounting questions, please contact an accountant.</li>
                    <li>It is Your sole responsibility to determine that the Services meet the needs of Your business and are suitable for the purposes for which they are used.</li>
                    <li>You remain solely responsible for complying with all applicable accounting, tax and other laws. It is Your responsibility to check that storage of and access to your Data via the Software and the Website will comply with laws applicable to you (including any laws requiring you to retain records).</li>
                </ol>
                </br>
            <li><strong>No warranties:</strong></li>
                <p>
                    Managility gives no warranty about the Services. Without limiting the foregoing, Managility does not warrant that the Services will meet Your requirements or that it will be suitable for any particular purpose. To avoid doubt, all implied conditions or warranties are excluded in so far as is permitted by law, including (without limitation) warranties of merchantability, fitness for purpose, title and non-infringement.
                </p>
                <li><strong>Consumer guarantees:</strong></li>
                <p>
                    You warrant and represent that You are acquiring the right to access and use the Services for the purposes of a business and that, to the maximum extent permitted by law, any statutory consumer guarantees or legislation intended to protect non-business consumers in any jurisdiction does not apply to the supply of the Services, the Website or these Terms.
                </p>
            </ol>
            <br />
            <h4>
                <li>LIMITATION OF LIABILITY
                </li>
            </h4>
            <br />
            <ol>
                <li>To the maximum extent permitted by law, Managility excludes all liability and responsibility to You (or any other person) in contract, tort (including negligence), or otherwise, for any loss (including loss of information, Data, profits and savings) or damage resulting, directly or indirectly, from any use of, or reliance on, the Service or Website.</li><br/>
                <li>If You suffer loss or damage as a result of Managility's negligence or failure to comply with these Terms, any claim by You against Managility arising from Managility's negligence or failure will be limited in respect of any one incident, or series of connected incidents, to the Access Fees paid by You in the previous 12 months.</li><br/>
                <li>If You are not satisfied with the Service, Your sole and exclusive remedy is to terminate these Terms in accordance with Clause 8.</li>
            </ol>
            <br />
            <h4>
                <li>TERMINATION
                </li>
            </h4>
            <br />
            <ol>
                <strong>
                    <li>Trial policy</li>
                </strong>
                <p>
                    When You first sign up for access to the Services You can evaluate the Services under the defined trial usage conditions, with no obligation to continue to use the Services. If You choose to continue using the Services thereafter, You will be billed from the day You first added Your billing details into the Services. If You choose not to continue using the Services, You may delete Your organization in the 'My Managility' section of the Services.
                </p>
                <strong>
                    <li>Prepaid Subscriptions</li>
                </strong>
                <p>
                    Managility will not provide any refund for any remaining prepaid period for a prepaid Access Fee subscription.
                </p>
                <strong>
                    <li>No-fault termination:</li>
                </strong>
                <p>
                    These Terms will continue for the period covered by the Access Fee paid or payable under clause 3.1. At the end of each billing period these Terms will automatically continue for another period of the same duration as that period, provided You continue to pay the prescribed Access Fee when due, unless either party terminates these Terms by giving notice to the other party at least 30 days before the end of the relevant payment period. If You terminate these Terms You shall be liable to pay all relevant Access Fees on a pro-rata basis for each day of the then current period up to and including the day of termination of these Terms.
                </p>
                <strong>
                    <li>Breach:</li>
                </strong>
                <span>If You:
                </span>
                <ol type="a">
                    <li>breach any of these Terms (including, without limitation, by non-payment of any Access Fees) and do not remedy the breach within 14 days after receiving notice of the breach if the breach is capable of being remedied;</li>
                    <li>breach any of these Terms and the breach is not capable of being remedied (which includes (without limitation) any breach of clause 3.4 or any payment of Access Fees that are more than 30 days overdue); or</li>
                    <li>You or Your business become insolvent or Your business goes into liquidation or has a receiver or manager appointed of any of its assets or if You become insolvent, or make any arrangement with Your creditors, or become subject to any similar insolvency event in any jurisdiction,</li>
                    <span>Managility may take any or all of the following actions, at its sole discretion:</span>
                    <li>Terminate this Agreement and Your use of the Services and the Website;</li>
                    <li>Suspend for any definite or indefinite period of time, Your use of the Services and the Website;</li>
                    <li>Suspend or terminate access to all or any Data.</li>
                    <li>Take either of the actions in sub-clauses (d), (e) and (f) of this clause 8(4) in respect of any or all other persons whom You have authorized to have access to Your information or Data.</li>
                </ol>
                <p>
                    For the avoidance of doubt, if payment of any invoice for Access Fees due in relation to any of Your Billing Contacts, Billing Plans or any of Your Organizations (as defined at clause 3) is not made in full by the relevant due date, Managility may: suspend or terminate Your use of the Service, the authority for all or any of Your Organizations to use the Service, or Your rights of access to all or any Data.
                </p>
                <strong>
                    <li>Accrued Rights:</li>
                </strong>
                <span>Termination of these Terms is without prejudice to any rights and obligations of the parties accrued up to and including the date of termination. On termination of this Agreement You will:
                </span>
                <ol type="a">
                    <li>remain liable for any accrued charges and amounts which become due for payment before or after termination; and</li>
                    <li>immediately cease to use the Services and the Website.</li>
                </ol>
                <br/>
                <strong>
                    <li>Expiry or termination:
                    </li>
                </strong>
                <p>
                    Clauses 3.1, 3.7, 4, 5, 6, 7, 8 and 10 survive the expiry or termination of these Terms.
                </p>
            </ol>
            <br />
            <h4>
                <li>HELP DESK</li>
            </h4>
            <br />
            <ol>
                <strong>
                    <li>Technical Problems:</li>
                </strong>
                <p>
                    In the case of technical problems You must make all reasonable efforts to investigate and diagnose problems before contacting Managility. If You still need technical help, please check the support provided online by Managility on the Website or failing that email us at support@Managility.com.au.
                </p>
                <strong>
                    <li>Service availability:</li>
                </strong>
                <p>
                    Whilst Managility intends that the Services should be available 24 hours a day, seven days a week, it is possible that on occasions the Services or Website may be unavailable to permit maintenance or other development activity to take place.
                </p>
                <p>
                    If for any reason Managility has to interrupt the Services for longer periods than Managility would normally expect, Managility will use reasonable endeavors to publish in advance details of such activity on the Website.
                </p>
            </ol>
            <br />
            <h4>
                <li>GENERAL
                </li>
            </h4>
            <br />
            <ol>
                <strong>
                    <li>Entire agreement:</li>
                </strong>
                <p>
                    These Terms, together with the Managility Privacy Policy and the terms of any other notices or instructions given to You under these Terms of Use, supersede and extinguish all prior agreements, representations (whether oral or written), and understandings and constitute the entire agreement between You and Managility relating to the Services and the other matters dealt with in these Terms.
                </p>
                <strong>
                    <li>Waiver:</li>
                </strong>
                <p>
                    If either party waives any breach of these Terms, this will not constitute a waiver of any other breach. No waiver will be effective unless made in writing.
                </p>
                <strong>
                    <li>Delays:</li>
                </strong>
                <p>
                    Neither party will be liable for any delay or failure in performance of its obligations under these Terms if the delay or failure is due to any cause outside its reasonable control. This clause does not apply to any obligation to pay money.
                </p>
                <strong>
                    <li>No Assignment:</li>
                </strong>
                <p>
                    You may not assign or transfer any rights to any other person without Managility's prior written consent.
                </p>
                <strong>
                    <li>Governing law and jurisdiction:</li>
                </strong>
                <p>
                    Acceptance of these terms means that Australian law governs this Agreement and You submit to the exclusive jurisdiction of the courts of New South Wales Australia for all disputes arising out of or in connection with this Agreement.
                </p>
                <p><strong>Severability:</strong></p>
                <p>
                    If any part or provision of these Terms is invalid, unenforceable or in conflict with the law, that part or provision is replaced with a provision which, as far as possible, accomplishes the original purpose of that part or provision. The remainder of this Agreement will be binding on the parties.
                </p>
                <strong>
                    <li>Notices:</li>
                </strong>
                <p>
                    Any notice given under these Terms by either party to the other must be in writing by email and will be deemed to have been given on transmission. Notices to Managility must be sent to support@Managility.com,au or to any other email address notified by email to You by Managility. Notices to You will be sent to the email address which You provided when setting up Your access to the Service.
                </p>
                <strong>
                    <li>Rights of Third Parties:</li>
                </strong>
                <p>
                    A person who is not a party to these Terms has no right to benefit under or to enforce any term of these Terms.
                </p>
            </ol>
        </ol>
    </div>
    <script type="text/javascript" src="Scripts/XeroWebApp/Index.js">    </script>
    <style type="text/css">
        li h4 {
            padding-top: 10px;
        }

        li .prettyPhotoCaption {
            padding-top: 5px;
            margin-left: 20px;
        }

        li.detailcontent {
            margin-left: 20px;
        }
    </style>
</asp:Content>